html {
  background-color: #717376;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  height: 40vw;
  width: 33vw;
  border: 1px solid rgb(78, 78, 78);
  display: grid;
  margin: auto;
}

.boardRow {
  flex: 33%;
  max-height: 100%;
  display: flex;
  margin: 5px;
}

.letter {
  flex: 33%;
  border: 1px solid rgb(79, 77, 77);
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: auto;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.green-letter {
  background-color: green;
}

.yellow-letter {
  background-color: rgb(147, 147, 14);
}

.black-letter {
  background-color: black;
}
